# NOTE:
# This file has two kinds of model dependencies:
#
# - Legacy manifest entries whose working-tree paths are tracked symlinks into
#   `/root/autodl-tmp/models/`. Use `scripts/bootstrap_model_repos.sh` on a new
#   host for those repositories.
# - Active gitlink submodules, currently `model/textual_inversion` and
#   `model/dataset-interfaces`. Use `git submodule update --init --recursive`
#   after pulling to materialize those directories.
#
# To see which entries are active gitlinks:
#   git ls-files --stage | grep '^160000'
#
[submodule "model/DeepECG"]
	path = model/DeepECG
	url = https://github.com/HeartWise-AI/DeepECG_Docker.git
[submodule "model/ECGTwin"]
	path = model/ECGTwin
	url = https://github.com/Raiiyf/ECGTwin.git
[submodule "model/ecg_ptbxl_benchmarking"]
	path = model/ecg_ptbxl_benchmarking
	url = https://github.com/helme/ecg_ptbxl_benchmarking.git
[submodule "model/advdiff"]
	path = model/advdiff
	url = https://github.com/EricDai0/advdiff.git
[submodule "model/textual_inversion"]
	path = model/textual_inversion
	url = https://github.com/rinongal/textual_inversion.git
[submodule "model/dataset-interfaces"]
	path = model/dataset-interfaces
	url = https://github.com/MadryLab/dataset-interfaces.git
